/*******************************************************************************
 * Special fonts
 ******************************************************************************/

@import url('https://fonts.googleapis.com/css2?family=Cause:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap');

h1 {
  font-family: 'Cause', sans-serif;
  font-weight: 900;
}

h2 {
  font-family: 'Libre Franklin', sans-serif;
  font-weight: 700;
}
