@import url('https://fonts.googleapis.com/css2?family=Cause:wght@400;700&display=swap');

h1 {
  font-family: 'Cause', serif;
  font-weight: 700;
}

h2 {
  font-family: 'Libre Franklin', serif;
  font-weight: 700;
}
